* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/*
Navigation
*/

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #020208;
}

.nav ul.hide {
    display: none;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.50rem;
    text-transform: uppercase;
}

.align-items-center {
    align-items: center;
}

nav li {
    display: inline-block;
}

/*.nav ul.hide{
    display: none;
}
*/
#menu {
    top: 40px;
    position: fixed;
    height: 100vh;
    width: 110px;
    background-color: rgba(3, 0, 49, 0);
    color: white;
    right: 0;
    transition: right 2s;
}

#menu.hide {
    right: -100px;
}

/*
Helpers
*/

.primary-text {
    color: white;
}

.text-thick {
    font-weight: bold;
    margin-left: 20px;
}


.center-text {
    text-align: center;
}

.space-top {
    margin-top: 20px;
}

.text-secondary {
    margin-left: 110px;
    font-size: medium;
}

/*
background-banner-posts
*/

.background-banner {
    background-image: url('../Img/background-banner3.0.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
}

.background-posts {
    background-image: url('../Img/background-posts.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
}

.background-future-projects {
    background-color: black;
}


/*
components
*/

.primary-button {
    color: white;
    background-color: #00000000;
    padding: 8px 15px;
    border: 0;
    text-decoration: none;

}

.card {
    background-color: #ffffff00;
}

.card .card-body {
    padding: 10px;
}

/*
images the future projects
*/

.img-arrangement {
    max-width: 250px;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 4px;
    margin-left: 40px;
    display: inline-block;
}

/*
logo
*/

.logo-azte {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    margin-left: 20px;

}

/*
icons
*/

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.background-icons {
    color: white;
    background-color: black;
    padding: 10px;
}

.separated {
    margin: 10px;
}